div.main
    div.row.table-row.main__content
        div.col.col-12
            h1 LOGO DuDay
            h2.h3.text-bold Aplikacja ma na celu ułożyć twój dzień.
                |Została przez nas stworzona w celu porządkowania obowiązków.
                |Zacznij korzystac już dzisiaj i załóż konto
            p Jeśli nie masz jeszcze konta to załóż je już teraz całkowicie za darmo
            button(class="btn btn--big modalClicker w-small-100" data-modal="#modalRegister") Zarejestruj się
            p lub jeśli posiadasz już konto
            button(class="btn btn--big modalClicker w-small-100" data-modal="#modalLogin") Zaloguj się
