div(id="fullpage")
    div(class="section main" id="section0")
        div.row.main__content
            div.col.col-12
                h1 LOGO DuDay
                h2.h3 Aplikacja ma na celu ułożyć twój dzień.
                    |Została przez nas stworzona w celu porządkowania obowiązków.
                    |Zacznij korzystac już dzisiaj i załóż konto
                p Jeśli nie masz jeszcze konta to załóż je już teraz całkowicie za darmo
                button(class="btn btn--big modalClicker w-small-100" data-modal="#modalRegister") Zarejestruj się
                p lub jeśli posiadasz już konto
                button(class="btn btn--big modalClicker w-small-100" data-modal="#modalLogin") Zaloguj się

    div(class="section main" id="section1")
        div.row.table-row.main__content--second
            div.col.col-5.small-hide
                i(class="fa fa-hand-o-right" aria-hidden="true")
            div.col.col-7.col-sm-12
                div.section-header
                    h2.h1 Jak to działa?
                    p.h2 W naszej aplikacji zostały stworzone funkcje pozwalające zarządzać dziennymi obowiązkami:
                ul.h3
                    li.slide Możesz dodać obowiązki na wiele dni do przodu, a aplikacja Ci o nich przypomni, gdy termin będzie się zbliżal
                    li.slide Każdy obowiązek możesz dodać w określonych ramach czasowych
                    li.slide Dla każdego obowiązku możesz ustanowić priorytet, co umożliwi segregacje zadań i wykonanie w pierwszej kolejności tych ważniejszych

    div(class="section main" id="section2")
        div.row
            div.col.col-12.main__content--second
                h2.h1.black-shadow Przyłącz się do nas już dziś!
        include ./footer