div(class="modal" id="modalWrapper")
    div(class="modal__content" id="modalLogin")
        h2.margin-bottom-big Logowanie
        form
            div.row
                div.col-12
                    label(for="userNameLogin") Login:
                    input(type="text" id="userNameLogin")
            div.row
                div.col-12
                    label(for="passwordLogin") Hasło:
                    input(type="text" id="passwordLogin")

            button(type="button" class="btn--link modalClicker" data-modal="#modalForgottenPassw") Zapomniane hasło?
            div.row.text-right.margin-top
                div.col.col-12
                    button(type="button" class="btn btn--cancel modalCancel") Anuluj
                    button(type="submit" class="btn margin-left") Zaloguj

        hr.margin-top-big.margin-bottom-big

        h3.h4 Nie masz jeszcze konta?
        div.row.text-right
                div.col-12
                    button(class="btn btn--medium modalClicker" data-modal="#modalRegister") Utwórz konto

    div(class="modal__content" id="modalRegister")
        h2.margin-bottom-big Rejestracja
        form
            div.row
                div.col-12
                    label(for="userNameRegister") Login:
                    input(type="text" id="userNameRegister")
            div.row
                div.col-12
                    label(for="passwordRegister") Hasło:
                    input(type="text" id="passwordRegister")
            div.row
                div.col-12
                    label(for="repeatPasswordRegister") Powtórz hasło:
                    input(type="text" id="repeatPasswordRegister")
            div.row
                div.col-12
                    label(for="emailRegister") E-mail:
                    input(type="email" id="emailRegister")
            div.row.text-right.margin-top
                div.col-12
                    button(type="button" class="btn btn--cancel modalCancel") Anuluj
                    button(type="submit" class="btn margin-left") Utwórz

    div(class="modal__content" id="modalForgottenPassw")
        h2.margin-bottom-big Zapomniane hasło
        form
            div.row
                div.col-12
                    label(for="userNameRegister") E-mail:
                    input(type="text" id="userNameRegister")
            div.row
                div.col-12
                    p Powyżej wprowadź adres e-mail na który zostało utworzone twoje konto.
            div.row.text-right.margin-top
                div.col-12
                    button(type="button" class="btn btn--cancel modalClicker" data-modal="#modalLogin") Powrót
                    button(type="submit" class="btn margin-left modalClicker" data-modal="#modalConfirmation") Wyślij

    div(class="modal__content" id="modalConfirmation")
        h2.margin-bottom-big Potwierdzenie
        form
            div.row
                div.col-12
                    p.h4.no-margin-top Na twój adres e-mail została wysłana wiadomość z nowym hasłem.
                    p.h4 Sprawdź swoją pocztę i zaloguj się ponownie!
            div.row.text-right.margin-top
                div.col-12
                    button(type="button" class="btn modalCancel") Zamknij
            
            