html(lang='')
    head
        meta(charset='utf-8')
        meta(http-equiv="Content-type" content="text/html; charset=utf-8")
        meta(name='description', content='ToDoList')
        meta(name='viewport', content='width=device-width, initial-scale=1')
        title ToDoList

        link(rel='stylesheet', href='../css/index.css')
    body


        block top

        block middle

        block scripts
            script(src="../scripts/jquery.js")
            script(src="../scripts/main.js")
            

