$page-spacing: 40px;
$grid-column: 12;
$grid-spacing: 20px;

.page-row {
    display: block;
    height: auto;
    max-width: 1346px;
    margin-left: auto;
    margin-right: auto;
    padding-left: $page-spacing;
    padding-right: $page-spacing;

    &:after {
        content: "";
        clear: both;
        display: table;
    }
}

.row {
    margin-left: -$grid-spacing;
    margin-right: -$grid-spacing;

    &::after {
        content: "";
        clear: both;
        display: table;
    }
}

.table-row {
    display: table;
    table-layout: fixed;
    width: 100%;
    margin-left: 0;
    margin-right: 0;

    & > .col {
        display: table-cell;
        float: none;
        height: 100%;
        vertical-align: middle;
    }
}

@for $i from 1 through $grid-column {
    .col-#{$i} {
        width: $i / $grid-column * 100%;
    }
}

[class*="col-"] {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    float: left;
    padding-left: $grid-spacing;
    padding-right: $grid-spacing;
    position: relative;
    min-height: 1px;
}
