.main {
    margin: 120px 0;
    width: 100%;
    height: auto;
    text-align:center;
    box-sizing: border-box;

    p {
        font-size: 1.5em;

        @media screen and (max-width: $break-small) {
            font-size: 1.2em;
        }
    }

    &__content {
        margin: 0 auto;
        max-width: 800px;
    }
}
