.main {
    text-align:center;
    padding-right: 50px;

    p {
        font-size: 1.5em;

        @media screen and (max-width: $break-small) {
            font-size: 1.2em;
        }
    }

    ul {
        padding: 0 50px;
    }

    &__content {
        margin: 0 auto;
        max-width: 800px;

        &--second {
            color: $color-white;
        }
    }

    .fa {
        font-size: 350px;
    }
}

.section-header {
    position: absolute;
    top: 150px;

    @media screen and (max-width: $break-small) {
        top: 50px;
    }
}

#section1 {
    padding-top: 150px;

    @media screen and (max-width: $break-small) {
        padding-top: 120px;
    }
}

#section2 {
    position: relative;
    background-image: url(../images/parallax-1-1.jpg);
    background-size: cover;
    background-position: center;
}

