.main {
    display: flex;
    align-items: center;
    padding: 120px 40px;
    @media screen and (max-width: $break-small) {
        padding: 90px 0;
    }
    width: 100%;
    @media screen and (min-width: $break-large) {
        height: 100vh;
    }
    text-align:center;
    box-sizing: border-box;

    p {
        font-size: 1.5em;

        @media screen and (max-width: $break-small) {
            font-size: 1.2em;
        }
    }

    ul {
        li {
            margin-bottom: 10px;
        }
    }

    &__content {
        margin: 0 auto;
        max-width: 800px;

        &--second {
            color: $color-white;
        }
    }

    .fa {
        font-size: 400px;
    }
}