$menu-height: 80px;

.navigation {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: $menu-height;
    background: $color-gray1;
    z-index: 10;
    box-sizing: border-box;

    > .row {
        height: 100%;
    }

    &__hamburger {
        background: $color-gray1;
        outline: none;
        border: none;
        cursor: pointer;
        width: 45px;
        height: 45px;
        font-size: 20px;
    }

    &__menu {
        display: none;
        position: absolute;
        top: $menu-height;
        left: 0;
        width: 100%;
        background: $color-white;
        z-index: 10;

        > ul {
            padding: 0;
            margin: 0;

            > li {
                padding: 0;
                margin-bottom: 1px;
            }
        }
    }
}




